<div class="b-row">
    <div class="b-col b-col_small_12 b-col_large_3">
        <div class="b-product-sidebar">
            {% set level = category.level %}
            {% for child in category.objects().descendants(true).all() %}
                <div class="b-product-category__item">
                    <a href="{{ child.getAbsoluteUrl() }}"
                       class="b-product-category__link b-product-category__link_{{ child.level - level }}">
                        {% set space = '&nbsp; &nbsp; &nbsp; &nbsp;' %}
                        {{ space|repeat(child.level - 1)|safe }} {{ child }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_large_9">
        {% include "rise/product/_header.html" with ['title' => title] %}
        <div class="b-block-grid b-block-grid_small_1 b-block-grid_medium_2 b-block-grid_large_3">
            {% for child in category.objects().children().all() %}
                <div class="b-block-grid__item">
                    <a class="b-category-link" href="{{ child.getAbsoluteUrl() }}">
                        {% if child.image %}
                            <img src="{{ child.image|imagine_filter('rise_category_thumb') }}"
                                 class="b-category-link__image"/>
                        {% else %}
                            <span class="b-category-link__image b-category-link__image_noimage"></span>
                        {% endif %}
                        <span class="b-category-link__name">{{ child }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
