.b-footer-menu {
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    color: flexy-color(gray);
    font-size: 1.2em;
    margin-top: 1em;

    @include flexy-breakpoint(large) {
      margin-top: 0;
    }
  }

  &__link {
    color: flexy-color(dark);
    display: block;
  }
}
