.b-header-sub {
  &__container {
    @include flexy-breakpoint(small) {
    }

    @include flexy-breakpoint(medium) {
      z-index: 10;
      position: absolute;
      left: auto;
      top: auto;
      background: {
        color: #fff;
      }
      min-width: 280px;
      border-radius: $flexy-theme-border-radius;
      padding: 0.5em 0;
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgba(#000, 0.2);
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s ease;
      transform: scale(0.85);

      &::after {
        bottom: 100%;
        left: 32px;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: {
          style: solid;
          color: transparent transparent #fff transparent;
          width: 5px;
        }
        margin-left: -5px;
      }
    }
  }

  &__link {
    @include antialias;
    display: block;
    padding: 0.2em 1em;

    @include flexy-breakpoint(small) {
      color: #fff;
    }

    @include flexy-breakpoint(medium) {
      color: flexy-color(text);

      &:hover {
        background: {
          color: rgba(flexy-color(), 0.2);
        }
      }
    }
  }
}
