.b-homepage-product-slider {
  background: {
    color: #fcfcfc;
  }

  &__image {
    margin: 2em;
    @extend .b-image;
  }

  &__text {
    color: #8b8b8b;
    @include antialias;
    margin-bottom: 2em;
  }

  &__content {
    height: 422px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-size: em-calc(36px);
    font-weight: 500;
    @include antialias;
    color: #343a58;
    margin-bottom: 1em;
  }
}
