.b-title {
  font-weight: 600;
  color: #333e48;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin-bottom: 1.4em;
}
